.DS_Store
/.ropeproject/
/.ipynb_checkpoints/
/__pycache__/
/checkpoints/
/log/
/.idea/
/preprocessed_data/
/results/
/inputs/
/other/
/train/
/test/
/numerai-1/
/jimfleming/
/54wy/
/logs/
/data/
*.jpg
*.ipynb
*.p
*.csv
*.html
*.txt
*.tsv