.DS_Store
/.ropeproject/
/.ipynb_checkpoints/
/__pycache__/
/checkpoints/
/log/
/.idea/
/preprocessed_data/
/resuls/
/inputs/
/other/
/numerai/
/loss_logs/
/grid_search_logs/
/stacking_outputs/
*.jpg
*.ipynb
*.p
*.csv

